
*.dll
*.pdb
GnbWebServices/GnbApiRestful/Webapi/bin/Debug/netcoreapp2.2/Webapi.deps.json
GnbWebServices/GnbApiRestful/Webapi/obj/project.assets.json
GnbWebServices/GnbApiRestful/Webapi/obj/Webapi.csproj.nuget.cache
GnbWebServices/GnbApiRestful/Business/bin/Debug/netstandard2.0/Business.deps.json
GnbWebServices/GnbApiRestful/Business/obj/Business.csproj.nuget.cache
GnbWebServices/GnbApiRestful/Business/obj/Business.csproj.nuget.g.props
GnbWebServices/GnbApiRestful/Business/obj/Business.csproj.nuget.g.targets
GnbWebServices/GnbApiRestful/Business/obj/Debug/netstandard2.0/Business.AssemblyInfo.cs
GnbWebServices/GnbApiRestful/Business/obj/Debug/netstandard2.0/Business.AssemblyInfoInputs.cache
GnbWebServices/GnbApiRestful/Business/obj/Debug/netstandard2.0/Business.assets.cache
GnbWebServices/GnbApiRestful/Business/obj/Debug/netstandard2.0/Business.csproj.CopyComplete
GnbWebServices/GnbApiRestful/Business/obj/Debug/netstandard2.0/Business.csproj.CoreCompileInputs.cache
GnbWebServices/GnbApiRestful/Business/obj/Debug/netstandard2.0/Business.csproj.FileListAbsolute.txt
GnbWebServices/GnbApiRestful/Business/obj/Debug/netstandard2.0/Business.csprojAssemblyReference.cache
GnbWebServices/GnbApiRestful/Business/obj/project.assets.json
GnbWebServices/GnbApiRestful/Data/bin/Debug/netstandard2.0/Data.deps.json
GnbWebServices/GnbApiRestful/Data/obj/Data.csproj.nuget.cache
GnbWebServices/GnbApiRestful/Data/obj/Data.csproj.nuget.g.props
GnbWebServices/GnbApiRestful/Data/obj/Data.csproj.nuget.g.targets
GnbWebServices/GnbApiRestful/Data/obj/Debug/netstandard2.0/Data.AssemblyInfo.cs
GnbWebServices/GnbApiRestful/Data/obj/Debug/netstandard2.0/Data.AssemblyInfoInputs.cache
GnbWebServices/GnbApiRestful/Data/obj/Debug/netstandard2.0/Data.assets.cache
GnbWebServices/GnbApiRestful/Data/obj/Debug/netstandard2.0/Data.csproj.CoreCompileInputs.cache
GnbWebServices/GnbApiRestful/Data/obj/Debug/netstandard2.0/Data.csproj.FileListAbsolute.txt
GnbWebServices/GnbApiRestful/Data/obj/Debug/netstandard2.0/Data.csprojAssemblyReference.cache
GnbWebServices/GnbApiRestful/Data/obj/project.assets.json
GnbWebServices/GnbApiRestful/Service/bin/Debug/netstandard2.0/Service.deps.json
GnbWebServices/GnbApiRestful/Service/obj/Debug/netstandard2.0/Service.AssemblyInfo.cs
GnbWebServices/GnbApiRestful/Service/obj/Debug/netstandard2.0/Service.AssemblyInfoInputs.cache
GnbWebServices/GnbApiRestful/Service/obj/Debug/netstandard2.0/Service.assets.cache
GnbWebServices/GnbApiRestful/Service/obj/Debug/netstandard2.0/Service.csproj.CopyComplete
GnbWebServices/GnbApiRestful/Service/obj/Debug/netstandard2.0/Service.csproj.CoreCompileInputs.cache
GnbWebServices/GnbApiRestful/Service/obj/Debug/netstandard2.0/Service.csproj.FileListAbsolute.txt
GnbWebServices/GnbApiRestful/Service/obj/Debug/netstandard2.0/Service.csprojAssemblyReference.cache
GnbWebServices/GnbApiRestful/Service/obj/project.assets.json
GnbWebServices/GnbApiRestful/Service/obj/Service.csproj.nuget.cache
GnbWebServices/GnbApiRestful/Service/obj/Service.csproj.nuget.g.props
GnbWebServices/GnbApiRestful/Service/obj/Service.csproj.nuget.g.targets
GnbWebServices/GnbApiRestful/Webapi/bin/Debug/netcoreapp2.2/Webapi.runtimeconfig.dev.json
GnbWebServices/GnbApiRestful/Webapi/bin/Debug/netcoreapp2.2/Webapi.runtimeconfig.json
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/Webapi.AssemblyInfo.cs
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/Webapi.AssemblyInfoInputs.cache
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/Webapi.assets.cache
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/Webapi.csproj.CopyComplete
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/Webapi.csproj.CoreCompileInputs.cache
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/Webapi.csproj.FileListAbsolute.txt
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/Webapi.csprojAssemblyReference.cache
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/Webapi.RazorAssemblyInfo.cache
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/Webapi.RazorAssemblyInfo.cs
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/Webapi.RazorTargetAssemblyInfo.cache
GnbWebServices/GnbApiRestful/Webapi/obj/Webapi.csproj.nuget.g.props
GnbWebServices/GnbApiRestful/Webapi/obj/Webapi.csproj.nuget.g.targets
*.cache
*.txt
GnbWebServices/GnbApiRestful/Tests/obj/Tests.csproj.nuget.g.targets
GnbWebServices/GnbApiRestful/Tests/obj/Tests.csproj.nuget.g.props
GnbWebServices/GnbApiRestful/Tests/obj/project.assets.json
GnbWebServices/GnbApiRestful/Tests/obj/Debug/netcoreapp2.2/Tests.Program.cs
GnbWebServices/GnbApiRestful/Tests/obj/Debug/netcoreapp2.2/Tests.csproj.CopyComplete
GnbWebServices/GnbApiRestful/Tests/obj/Debug/netcoreapp2.2/Tests.AssemblyInfo.cs
GnbWebServices/GnbApiRestful/Tests/bin/Debug/netcoreapp2.2/Tests.runtimeconfig.json
GnbWebServices/GnbApiRestful/Tests/bin/Debug/netcoreapp2.2/Tests.runtimeconfig.dev.json
GnbWebServices/GnbApiRestful/Tests/bin/Debug/netcoreapp2.2/Tests.deps.json
GnbWebServices/GnbApiRestful/Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GnbWebServices/GnbApiRestful/Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GnbWebServices/GnbApiRestful/Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/project.razor.json
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GnbWebServices/GnbApiRestful/Webapi/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
