<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${basedir}/Logs/GNB/internalLog.txt">
 
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <variable name="logHeader" value="${longdate}:${level:upperCase=true}:${identity}:${windows-identity}:${machinename}:${processinfo}:${all-event-properties}:${logger}:${callsite} line: ${callsite-linenumber}"/>
  <variable name="logException" value="${newline}${exception:format=tostring}"/>
  <variable name="logStackTrace" value="${newline}  ${message} ${exception}${newline}  ${stacktrace}"/>
 
  <targets>
    <target
      name="logfile"
      xsi:type="File" 
      layout="${logHeader}${logException}${logStackTrace}"
      fileName="${basedir}/Logs/GNB/${level}_${shortdate}.txt" />
    <!-- <target name='jsonFile' type='File' fileName='C:/Logs/Pruebas/${shortdate}_log.json'>
      <layout type='JsonLayout'>
        <attribute name='time' layout='${longdate}' />
        <attribute name='level' layout='${level:upperCase=true}'/>
        <attribute name='logger' layout='${logger}'/>
        <attribute name='identity' layout='${identity}'/>
        <attribute name='windows-identity' layout='${windows-identity}'/>
        <attribute name='callsite' layout='${callsite}' />
        <attribute name='callsite-linenumber' layout='${callsite-linenumber}' />
        <attribute name='context' encode='false'  >
          <layout type='JsonLayout'>
            <attribute name='machinename' layout='${machinename}' />
            <attribute name='processinfo' layout='${processinfo}' />
            <attribute name='all-event-properties' layout='${all-event-properties}' />
          </layout>
        </attribute>
        <attribute name='exceprionData' encode='false'  >
          <layout type='JsonLayout'>
            <attribute name='message' layout='${message}' />
            <attribute name='exception' layout='${exception}' />
            <attribute name='stacktrace' layout='${stacktrace}' />
          </layout>
        </attribute>
      </layout>
    </target> -->
  </targets>
 
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <!-- <logger name="*" minlevel="Debug" writeTo="jsonFile" /> -->
  </rules>
</nlog>